* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  color: rgb(255, 217, 0);
  background: #a55768;
}

.container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 50px;
}
